
@page
@model Adesharp.Pages.EmergencyModel
@{
}


<body>

    <h1 class="heading"><span>24:7!</span> Emergency <span>Response</span>FIRESQUAD!</h1>


    <section class="emergency" id="emergency">

        <div class="container" data-aos="zoom-in">
            <h1 class="heading"><span> Click on the location! </span> your EMERGENCY <span> OUR URGENCY </span>FIRESQUAD!</h1>

            <div id="map">
                <div class="box-container">


                    <div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.9524302146383!2d-79.
             65864798312624!3d43.57551631079644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
             1s0x882b4132f4315da3%3A0xbfd01117531ac79d!2sCanada%20Computers%20%26%20Electronics!
             5e0!3m2!1sen!2sca!4v1624487717601!5m2!1sen!2sca" width="600" height="450"
                                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>


                </div>

            </div>
        </div>

        <div class="container">

            <div class="box-container">




                <div class="box" data-aos="zoom-in">
                    <p>
                        Wherever you might be on the surface of the planet, we are willing and able
                        to search for you and bring you home into safe hands.
                    <h3>Your name</h3>
                    <span>Mar 15, 2021</span>
                    <img src="./images/ff10.jpg" alt="">

                </div>

                <div class="box" data-aos="fade-left">
                    <p>
                        Pick your location and add it to the contact message. An agent will reach out to you 
                        within 5 minutes. Ever ready and ever efficient.
                   
                    </p>
                    <h3>Your name</h3>
                    <span>Apr 2, 2021</span>
                    <img src="./images/ff16.jpg" alt="">

                </div>

                <div class="box" data-aos="fade-right">
                    <p>
                        Do not give up no matter what. I can assure you, Help is always on the way.
                        You are stronger than you think.
                        You have got many more days to live and save other peoples lives.
                    </p>
                    <h3>Your name</h3>
                    <span>Apr 6, 2021</span>
                    <img src="./images/ff17.jpg" alt="">

                </div>


                <div class="box" data-aos="fade-left">
                    <p>
                        Wherever you might be on the surface of the planet, we are willing and able
                        to search for you and bring you home into safe hands.
                    </p>
                    <h3>Your name</h3>
                    <span>Apr 25, 2021</span>
                    <img src="./images/ff18.jpg" alt="">

                </div>


            </div>

        </div>


        <div class="container">

            <div class="box-container">

                <div class="box" data-aos="zoom-in">
                    <p>
                        Wherever you might be on the surface of the planet, we are willing and able
                        to search for you and bring you home into safe hands.
                    </p>
                    <h3>Your name</h3>
                    <span>Mar 15, 2021</span>
                    <img src="./images/ff19.jpg" alt="">

                </div>

                <div class="box" data-aos="fade-right">
                    <p>
                        Successfully we managed and trained volunteers to become courageous men.
                        We made them into stronger individuals who have returned better and
                        have contributed immensely to the society.
                    </p>
                    <h3>Your name</h3>
                    <span>Apr 2, 2021</span>
                    <img src="./images/ff20.jpg" alt="">

                </div>

                <div class="box" data-aos="fade-left">
                    <p>
                        At any time of the day, we are ever ready to listen to you. Here to serve you
                        and give you the best service available.
                        Fire works COURAGE in the line of FIRE.
                    </p>
                    <h3>Your name</h3>
                    <span>Apr 6, 2021</span>
                    <img src="./images/ff21.jpg" alt="">

                </div>


                <div class="box" data-aos="zoom-in">
                    <p>
                       We are your best friends and we are willing and able
                        to search for you and bring you home into safe hands.
                    </p>
                    <h3>Your name</h3>
                    <span>Apr 25, 2021</span>
                    <img src="./images/ff22.jpg" alt="">

                </div>


            </div>

        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--magnific popup-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


    <!--aos js function-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>


    <!--Js-->
    <script src="site.js"></script>


</body>
