@page
@model Adesharp.Pages.FireModel
@{
}



<body>
    <section class="fire" id="fire">

        <div class="container">

            <h1 class="heading"><span>Duty and </span>Commitment!</h1>

            <div class="box-container" data-aos="zoom-in">


                <div class="box" data-aos="fade-left">
                    <a href="./images/ff4.jpg" title="An amazing team of experts are 
                       ever ready to make the difference in your life">
                        <img src="./images/ff4.jpg" alt="">
                    </a>
                </div>

                <div class="box" data-aos="fade-up">
                    <a href="./images/ff5.jpg" title="We go there. We are ready to get 
                       there irrespective of the situation and location. Far beyond the physical realm we serve you.">
                        <img src="./images/ff5.jpg" alt="">
                    </a>
                </div>

                <div class="box" data-aos="fade-left">
                    <a href="./images/ff6.jpg" title="We are ready to serve you and the community. 
                       Come join the team of great experts that serve. ">
                        <img src="./images/ff6.jpg" alt="">
                    </a>
                </div>
                <div class="box" data-aos="flip-down">
                    <a href="./images/ff7.jpg" title="Delivering world class service for the community. We have a great repertoire of service">
                        <img src="./images/ff7.jpg" alt="">
                    </a>
                </div>

                <div class="box" data-aos="zoom-in">
                    <a href="./images/ff3.jpg" title="Tax payers money at work. We are ready to serve and make a whole lot work for you
                       and the community.">
                        <img src="./images/ff3.jpg" alt="">
                    </a>
                </div>

                <div class="box" data-aos="fade-up">
                    <a href="./images/ff8.jpg" title="Existing to serve Humanity. We are able to give back to our community.">
                        <img src="./images/ff8.jpg" alt="">
                    </a>
                </div>
                <div class="box" data-aos="fade-right">
                    <a href="./images/ff9.jpg" title="First class Commitment ">
                        <img src="./images/ff9.jpg" alt="">
                    </a>
                </div>
                <div class="box" data-aos="flip-down">
                    <a href="./images/ff1.jpg" title="We are the heroes of what we do. Being a chamnge to our team and our community
                       That is the real value we place in life">
                        <img src="./images/ff1.jpg" alt="">
                    </a>
                </div>

                <div class="box" data-aos="flip-up">
                    <a href="./images/ff2.jpg" title="From equipments and the great trainings we offer, you are sure to learn and become useful in society">
                        <img src="./images/ff2.jpg" alt="">
                    </a>
                </div>
                <div class="box" data-aos="zoom-in">
                    <a href="./images/ff12.jpg" title="We have equipments that make life safer for you. Your safety is our utmost priority">
                        <img src="./images/ff12.jpg" alt="">
                    </a>
                </div>
                <div class="box" data-aos="fade-left">
                    <a href="./images/ff13.jpg" title="We offer insurance policies to susceptible individuals of fire orf any other eventualities">
                        <img src="./images/ff13.jpg" alt="">
                    </a>
                </div>
                <div class="box" data-aos="fade-right">
                    <a href="./images/ff15.jpg" title="Ever ready and on standby at any large ceremonial gatherings and national events. We never take things for granted. ">
                        <img src="./images/ff15.jpg" alt="">
                    </a>
                </div>
            </div>

        </div>

    </section>




    <!--home sec starts-->
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--magnific popup-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>


    <!--aos js function-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>


    <!--Js-->
    <script src="site.js"></script>


</body>