@page
@model Adesharp.Pages.IndexModel
@{
  
}

<div class="text-center">
    <h1 class="display-4"></h1>

</div>



<body>

    <section class="home" id="home">

        <div class="container">

            <div class="row min-vh-100 align-items-center text-center text-md-left">

                <div class="col-md-6 pr-md-5" data-aos="zoom-in">
                    <img src="./images/ff1.jpg" alt="">
                </div>

                <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
                    <h1><span>FIRE!</span> Beautiful <span>but DANGEROUS</span>Let us handle it!</h1>
              
                    <a href="#"> <btn class="btn">Get Educated</btn> </a>
                </div>


            </div>

            <div class="row min-vh-100 align-items-center text-center text-md-left">



                <div class="col-md-6 pl-md-5 content" data-aos="zoom-in">
                    <h1><span>With our!</span> Years of experience, you are in safe hands with us <span>Your health and safety</span>Our priority!</h1>
                    <h3>Established 1722, We have got the experience.</h3>
                    <a href="#"> <btn class="btn">Report an Emergency</btn> </a>
                </div>

                <div class="col-md-6 pr-md-5" data-aos="fade-right">
                    <img src="./images/firemen.jpg" alt="">
                </div>


            </div>


        </div>

    </section>




    <!--home sec starts-->
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--aos js function-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>


    <!--Js-->
    <script src="site.js"></script>




</body>




<!-- <a href="#"  class="logo"><span>Great</span> FIRE DEPARTMENT <span>And EQUIPMENT</span>of CANADA!</h1>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, eum?</p> -->
<!-- <p>Copyright &copy; Adeniyi ladenegan Woodwks design. All rights Reserved!</p> -->
